<%= button_to("Edit Item", edit_admin_item_path(item), method: :get) %>

<% if item.enabled? %>
  <p> Status: Enabled
  <%= button_to("Disable Item", admin_item_toggle_path(item), method: :patch) %>
  </p>
<% else %>
  <p> Status: Disabled
  <%= button_to("Enable Item", admin_item_toggle_path(item), method: :patch) %>
  </p>
<% end %>

<% if item.never_ordered? %>
  <p>No user has ever ordered this item: <%= button_to("Delete Item", admin_item_path(item), method: :delete, data: {confirm: "Are you sure?"}) %></p>
<% end %>
