<h1>Order <%= @order.id %></h1>
<h2>Customer info:</h2>
<%= render partial: "/user_info"%>

<% @order.order_items.each do |order_item| %>
    <% if order_item.order.fulfillable? %>
      <%= button_to 'Fulfill', dashboard_order_fulfill(@order) %>
    <% end %>
<% end %>

<%= render partial: "/order_items" %>
