
body {
  font-family: sans-serif;
}

 nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
 }

 nav i {
   font-size: 20px;
   margin-top: 10px;
 }

 a {
   text-decoration: none;
   color: black;
   font-weight: lighter;
 }

 a:hover {
  text-decoration: underline;
  color: slategrey;
 }


.nav-link-container {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin: 0;
  max-width: 960px;
}

.alert {
  position: absolute;
    background: wheat;
    z-index: 100;
    top: 69px;
    padding: 7px;
    border-color: coral;
    border-style: double;
    left: 2;
    left: 100px;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-container {
  display: grid;
  grid-column: 1fr 1200px 1fr;
}

main {
  overflow: scroll;
  margin-top: 100px;
  height: 570px;
  background: whitesmoke;
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-flex {
  display: flex;
  justify-content: center;
  background: white;
  height: 1000px;
  width: 100%;
}

.user-input-form {
  margin:30px;
  width: 250px;
  /* background: aliceblue; */
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 80px;
  padding-top: 40px;

  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

input {
  display: block;
  margin-bottom: 10px;
}

label {
  display: block;
}

.flex-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.inner-flex {
  width: 230px;
  margin: 10px;
  width: 230px;
  padding: 3px;
}

.inner-flex h4 {
  text-transform: capitalize;
  margin-left: 30px
}

.thumb {
  width: 230px;
  height: 200px;
}

.big-picture {
    width: 500px;
}
